body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E8E4E4;
    font-family: 'Oswald', sans-serif;

}
#scroll-percent {
    position: fixed;
    top: 0;
    width: 100vw;
    color: #000;
    margin: 0;
    padding: 0;
}

#percentage-value {
    position: fixed;
    top: 75%;
    left: 95%;
    transform: translateX(-50%);
    height: 150px;
    width: 150px;
    color: #FB3C3F;
    background-color: white;
    text-align: center;
    line-height: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 2px #FB3C3F, -1px -1px 8px 2px #FB3C3F; 
    font-size: 3em;
    z-index: 1;
}

[data-scrollPercentage] .percentage {
    display: inline-block;
    background-color: #FB3C3F;
    height: 6px;
    width: 0;
}